<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" color="light"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item text-center no-lines>
    <ion-icon name="logo-rss" class="round" color="light" style="font-size: 30vw;"></ion-icon>
  </ion-item>

  <ion-item text-center>
    <ion-label text-center>
      <h1>feedly</h1>
      <h6>an app for continuous feed</h6>
    </ion-label>
  </ion-item>

  <ion-grid style="width: 75%;">
    <ion-row class="rowStyle">
      <ion-icon name="person" color="danger"></ion-icon>
      <ion-input type="text" placeholder="Samarth Agarwal" [(ngModel)]="name"></ion-input>
    </ion-row>

    <ion-row class="rowStyle">
      <ion-icon name="mail" color="danger"></ion-icon>
      <ion-input type="text" placeholder="a@b.com" [(ngModel)]="email"></ion-input>
    </ion-row>

    <ion-row class="rowStyle">
      <ion-icon name="key" color="danger"></ion-icon>
      <ion-input type="password" placeholder="123456" [(ngModel)]="password"></ion-input>
    </ion-row>


    <ion-button (click)="signup()" expand="block" fill="outline" round color="light" style="margin-top:20px;">Sign Me Up</ion-button>

  </ion-grid>


  <ion-button expand="block" fill="clear" color="light" (click)="goBack()">Already Signed Up? Login!</ion-button>
</ion-content>