<ion-header>

  <ion-toolbar color="danger">
    <ion-title>Your Feed</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content *ngIf="posts">
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row margin class="rowStyle">
    <ion-button icon-only color="danger" fill="clear" (click)="addPhoto()">
      <ion-icon name="images"></ion-icon>
    </ion-button>
    <ion-input type="text" placeholder="Say something..." [(ngModel)]="text"></ion-input>
    <ion-button icon-only color="danger" fill="clear" (click)="post()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row margin class="rowStyle" *ngIf="image">
  <ion-card class="round-corners">
    <img [src]="image" class="round-corners">
  </ion-card>
  </ion-row>


  <ion-card *ngFor="let post of posts">
    <ion-item-divider color="danger">
      <small>{{ post.data().owner_name }} posted</small>
      <!-- <ion-note item-right style="color: #fff;"></ion-note> -->
    </ion-item-divider>
    <ion-item text-wrap *ngIf="post.data().text.length > 0" class="styledText">
      {{ post.data().text }}
    </ion-item>
 
    <img *ngIf="post.data().image" [src]="post.data().image">
 
    <ion-row class="bottom-bar">
      <ion-col>
        <ion-button icon-left expand="block" fill="clear" size="small" color="danger" class="border-right" (click)="like(post)">
          <ion-icon slot="start" name="thumbs-up" [color]="getLikeColor(post.data().likes)"></ion-icon>
          <small>{{ post.data().likesCount || 0 }} Likes</small>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button icon-left expand="block" fill="clear" size="small" color="danger" class="border-right" (click)="comment(post)">
          <ion-icon slot="start" name="text"></ion-icon>
          <small>{{ post.data().commentsCount || 0 }} Comments</small>
        </ion-button>
      </ion-col>
      <ion-col center text-center *ngIf="post.data().created">
        <ion-button expand="block" icon-left fill="clear" size="small" color="danger">
          <small>{{ ago(post.data().created.toDate()) }} ago</small>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>