app-feeds {
    .styledText {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1em;
    }

    .rowStyle {
        background-color: #fff; 
        padding-left: 5px; 
        border-radius: 30px;
        margin-top: 18px;
        border: solid 1px #ed6b57;

        ion-input {
            margin-top: 6px;
        }
    }

    .bottom-bar {
        background-color: var(--ion-color-light);

        button.border-right{
            border-right: 1px var(--ion-color-light) solid;
        }
    }

    .round-corners {
        border-radius: 24px;
    }
}