<ion-header hidden>
  <ion-toolbar color="danger">
    <ion-title>
      Demo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="cont">

  <ion-item text-center no-lines>
    <ion-icon name="logo-rss" class="round" color="light" style="font-size: 30vw;"></ion-icon>
  </ion-item>

  <ion-item no-lines>
    <ion-label text-center>
      <h1>feedly</h1>
      <h6>an app for continuous feed</h6>
    </ion-label>
  </ion-item>

  <ion-grid style="width: 75%;">
    <ion-row class="rowStyle">

      <ion-icon name="mail" color="danger"></ion-icon>

      <ion-input type="email" placeholder="Enter your email" [(ngModel)]="email"></ion-input>
    </ion-row>

    <ion-row class="rowStyle">
      <ion-icon name="key" color="danger"></ion-icon>
      <ion-input type="password" placeholder="Enter your password" [(ngModel)]="password"></ion-input>
    </ion-row>


    <ion-button expand="block" fill="outline" color="light" round (click)="login()" style="margin-top:20px;">Login</ion-button>
  </ion-grid>


  <ion-button expand="block" fill="clear" color="light" (click)="gotoSignupPage()">Don't have an account?</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="danger" text-center>
    <ion-button expand="block" fill="clear" color="light" small>Built with Ionic and Firebase</ion-button>
  </ion-toolbar>
</ion-footer>