app-page-login{

    --ion-background-color: var(--ion-color-danger);
    --ion-item-border-color: var(--ion-color-danger);

    .item {
        background-color: transparent;
        flex-direction: column;
    }

    ion-input {
        width: 75%;
    }

    .round {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .rowStyle {
        background-color: #fff; 
        padding-left: 10px; 
        border-radius: 30px;
        margin-top: 10px;

        ion-icon {
            margin-top: 13px;
            margin-right: 10px;
        }
    }

    h1, h6{
        color: white;
        
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1em;

    }
}