<ion-header>

  <ion-toolbar color="danger">
    <ion-title>
      <small>{{ comments.length }} people have commented</small>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-icon slot="start" name="chatbubbles" color="danger" size="small"></ion-icon>
      <ion-label>
        <h2 text-wrap>
          <small>{{ comment.data().text }}</small>
        </h2>

        <p>
          <small>{{ comment.data().owner_name }} (
            <i>{{ ago(comment.data().created.toDate()) }} ago</i>)
          </small>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>